{% load static %}

<div class="row">
    {% for item in clothing_items %}
    <div class="col-md-3 mb-3">
        <div class="card h-100">
            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.title }}" style="height: 180px; object-fit: cover;">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="items" value="{{ item.id }}" id="item-{{ item.id }}">
                    <label class="form-check-label" for="item-{{ item.id }}">
                        {{ item.title }}
                    </label>
                </div>
                {% if item.tags.all %}
                <div class="mt-2">
                    {% for tag in item.tags.all %}
                    <span class="badge bg-secondary me-1">{{ tag.name }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <div class="alert alert-info">
            No clothing items found{% if request.GET.tag %} with tag "{{ request.GET.tag }}"{% endif %}.
        </div>
    </div>
    {% endfor %}
</div>