{% extends 'layout.html' %}

{% block title %}
    Wardrobe Wizard | New Item
{% endblock %}

{% block content %}
    <div class="container-md">
        <h2 class="mt-5 mb-3">New Item</h2>
            <form class="form-with-validation" action="{% url 'closet:new_item'  %}" height = 287 width = 287 method="post" enctype="multipart/form-data">
                {% csrf_token %}           
                {{ form }}               
                <button class="form-submit" id="new-item-form-button"> Add Item </button>           
            </form>
    </div>
{% endblock %}