/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.navbar {
    background-color: #d9b99b !important;
}

.card {
    background-color: #eed9c4 !important;
    outline: black;
}

.addbtn {
    background-color: #A57A5A;
    color: white;
}

.btn-control {
    background-color: #A57A5A;
    color: white;
    border: #A57A5A;
}

html body {
    background-color: #fff0db;

}