{% extends 'layout.html' %}

{% block title %}
    Wardrobe Wizard | About
{% endblock %}

{% block content %}
    <div class="container-md">
        <h1 class="mt-5 mb-5">About</h1>
        <p class="mb-5">Wardrobe Wizard is a web application designed to help university students transition from uniforms to daily fashion with confidence. By digitising their wardrobe, tracking outfit history, and recommending combinations based on preferences and schedule, this app simplifies daily outfit planning.</p>
        <p class="mb-3 text-center text-secondary">NUS Orbital 2025 | Team Style and Syntax</p>
    </div>
{% endblock %}