<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'fitting_room/css/styles.css' %}">   
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">👔 Wardrobe Wizard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="/about">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/closet/' %}active{% endif %}" href="{% url 'closet:list' %}">Closet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/closet/new-item/' %}active{% endif %}" href="{% url 'closet:new-item' %}">New Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/fitting-room/' %}active{% endif %}" href="{% url 'fitting_room:fitting_room' %}">Virtual Fitting Room</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/fitting-room/lookbook/' %}active{% endif %}" href="{% url 'fitting_room:lookbook' %}">Lookbook</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/history/' %}active{% endif %}" href="{% url 'history:history' %}">Outfit History</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <form action="{% url 'users:logout' %}" method="post"> 
                        {% csrf_token %}
                        <button class="nav-link" aria-label="User Logout" title="User Logout">Log Out</button>
                    </form>
                </ul>    
                    {% else %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Log In</a>
                    </li>
                </ul>
                    {% endif %}
            </div>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    {% block extra_js %}
        {% if request.path == '/fitting_room/' %}
            <script src="{% static 'fitting_room/js/fitting_room.js' %}"></script>
            {% comment %} <script src="{% static 'fitting_room/js/interact.min.js' %}"></script> {% endcomment %}
            <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            
        {% else %}
            <script src="{% static 'fitting_room/js/script.js' %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        {% endif %}
    {% endblock %}

    
    
</body>
</html>